@import "tailwindcss";

@theme inline {
  --color-base-100: rgba(255, 255, 255, 1);
  --color-base-200: rgba(255, 255, 255, 0.6);
  --color-base-300: rgba(255, 255, 255, 0.2);
  --color-base-400: rgba(255, 255, 255, 0.16);
  --color-base-500: rgba(255, 255, 255, 0.12);
  --color-base-600: rgba(255, 255, 255, 0.08);
  --color-base-700: rgba(255, 255, 255, 0.04);
  --color-base-800: rgba(0, 1, 17, 1);
  --color-base-900: rgba(255, 115, 0, 1);
}
img {
  width: "auto";
}
